<h2 style="text-align: center;">Change Password</h2>
<form class="form-group" [formGroup]="fg" (ngSubmit)="onSubmit(fg)">
    <label for="oldpass"><b>Old Password:</b></label>
    <input [ngStyle]="{'width': 100 + '%'}" type="password" class="form-control" placeholder="********" name="oldpass"
        id="oldpass" formControlName="oldpwd">
    <div *ngIf="this.fg.get('oldpwd').touched && this.fg.get('oldpwd').errors?.required"
        [ngClass]="{'alert alert-danger': 'true'}">
        Old Password Required
    </div>
    <div *ngIf="!this.oldPassMatch"
        [ngClass]="{'alert alert-danger': 'true'}">
        Incorrect Old Password
    </div>
    <label for="newpass"><b>New Password (8 - 12 characters):</b></label>
    <input [ngStyle]="{'width': 100 + '%'}" type="password" class="form-control" placeholder="********" name="newpass"
        id="newpass" formControlName="newpwd">
    <div *ngIf="this.fg.get('newpwd').touched && this.fg.get('newpwd').errors?.required"
        [ngClass]="{'alert alert-danger': 'true'}">
        New Password Required
    </div>
    <div [ngClass]="{'alert alert-danger': 'true' }" *ngIf="this.fg.get('newpwd').touched  && 
        this.fg.get('newpwd').errors?.minlength || 
        this.fg.get('newpwd').errors?.maxlength">
        Password must be between 8 and 12 characters long
    </div>
    <label for="cnfnewpass"><b>Confirm New Password (8 - 12 characters):</b></label>
    <input [ngStyle]="{'width': 100 + '%'}" type="password" class="form-control" placeholder="********" name="cnfnewpass"
        id="cnfnewpass" formControlName="cnfnewpwd">
    <div *ngIf="this.fg.get('cnfnewpwd').touched && this.fg.get('cnfnewpwd').errors?.required"
        [ngClass]="{'alert alert-danger': 'true'}">
        Confirm New Password Required
    </div>
    <div [ngClass]="{'alert alert-danger': 'true' }" *ngIf="this.fg.get('cnfnewpwd').touched  && 
        this.fg.get('cnfnewpwd').errors?.minlength || 
        this.fg.get('cnfnewpwd').errors?.maxlength">
        Password must be between 8 and 12 characters long
    </div>
    <div *ngIf="this.fg.get('cnfnewpwd').touched && !this.passMatch && !(this.fg.get('cnfnewpwd').errors?.minlength || 
    this.fg.get('cnfnewpwd').errors?.maxlength)"
        [ngClass]="{'alert alert-danger': 'true'}">
        Password and Confirm Password must match
    </div><hr>
    <button [disabled]="(this.fg.get('newpwd').errors?.minlength || this.fg.get('newpwd').errors?.maxlength) || 
    (this.fg.get('cnfnewpwd').errors?.minlength || this.fg.get('cnfnewpwd').errors?.maxlength) || 
    this.fg.get('oldpwd').errors?.required || 
    this.fg.get('newpwd').errors?.required || this.fg.get('cnfnewpwd').errors?.required" style="border-radius: 50%;"
        type="submit" class="btn btn-primary">Change</button>
    <button style="border-radius: 50%;" type="button" class="btn btn-primary" (click)="onReset(this.fg)">Reset</button>
</form>